@model Pricelist_Portal_Khantil_Anton_43650.Models.DB.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>

        <dt>
           Goods in order
        </dt>

        <dd>
            @ViewBag.H <br /> @ViewBag.T
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EntryNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
